<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ChatbotDB"
             connectionString="Server=localhost;Database=cyberchatbot_db;Trusted_Connection=True;Encrypt=False;"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>